extends ../../layout.jade

block content
  .container-fluid.pictureless-page.bio
    .row.section-title.center-head
      h1 M. Chris Link, MD
    .row.section
      .col-sm-8.col-sm-offset-2.col-xs-offset-1.col-xs-10.blurb
        img.float-pic(src='img/DrMChrisLink.jpg')
        p
          | Dr. Link graduated from St Louis University School of Medicine in 1987.
          | He completed emergency medicine residency training at the Medical College of Wisconsin
          | in 1991 and practiced emergency and trauma medicine for 18 years.
        p
          | In 2009 he completed a 2-year integrative medicine fellowship at the University of Arizona
          | directed by Dr. Andrew Weil.  Additionally, he has completed advanced training in acupuncture,
          | anti-aging medicine, functional medicine, nutrition, and both western and Chinese herbal medicine.
          | He opened Integrative Medicine - Natural Healing Alternatives and Medical Acupuncture in 2009.
        p
          | He is a respected educator in the field of integrative medicine. He is a clinical instructor
          | of integrative medicine in the Capital Region Medical Center Family Medicine Program. He
          | lectures frequently on natural approaches to optimizing health. He is a monthly guest on a local radio show
          | focusing on health and healing from the natural prospective.
        p
          | The Integrative Medicine Clinic emphasizes optimal nutrition and lifestyle to promote health.
          | His overarching belief is that with optimal nutrition, exercise, relaxation,
          | and restorative sleep, the human body is designed to heal!
        p
          | The individualized treatment plan will include nutritional and lifestyle recommendations and, when needed, supportive
          | supplements and herbs to optimize health and healing. As necessary, we support the healing process with
          | the lowest dose of the safest medications available.
