extends ../../layout.jade

block content
  .container-fluid.pictureless-page.bio
    .row.section-title.center-head
      h1 Jalyn North, APRN
    .row.section
      .col-sm-8.col-sm-offset-2.blurb.col-xs-offset-1.col-xs-10
        img.float-pic.shrink-pic(src='img/north.jpg')
        p
          | Jalyn North, APRN,  received her Master of Science in Nursing from
          | Maryville University in 2015 and her Bachelor of Science in Nursing
          | from University of Missouri-St. Louis in 2008. She is board certified
          | by the American Academy of Nurse Practitioners.
        p
          | Jalyn joins Integrative Medicine with 10 years of experience in the
          | medical field. She most recently served as nurse practitioner for
          | Decatur Medical Group located in Forsyth, Ill., providing primary care
          | and acute care for patients of all ages. Her interest in Integrative
          | Medicine began while working as a nurse in St. Louis, both in the ER
          | and in ICU, where she saw many chronically ill patients with very
          | preventable diseases.

        p
          | Jalyn grew up in Columbia and graduated from Rock Bridge Senior High.
          | She now resides in Ashland with her husband and three children. In
          | her spare time she enjoys hiking and being outdoors, spending time
          | with her family, growing her faith and watching her kids and nephews
          | play sports. Jalyn believes in a holistic approach to medicine and
          | is excited to join the Integrative Medicine practice. She provides
          | primary care and sees patients of all ages who prefer an integrative
          | approach to medicine.