extends ../../layout.jade

block content
  .container-fluid.pictureless-page.bio
    .row.section-title.center-head
      h1 Rachel Lenon MSN, FNP-BC
    .row.section
      .col-sm-8.col-sm-offset-2.blurb.col-xs-offset-1.col-xs-10
        img.float-pic(src='img/lenon.jpg')
        p
          | Rachel Lenon, FNP-BC, is a Family Nurse Practitioner available to provide
          | primary and integrative healthcare to patients of all ages.  Rachel received
          | her Masters of Science in Nursing in the Family Nurse Practitioner program
          | at the University of Missouri in 2011.
        p
          | Rachel's passion for preventative medicine began while working as an RN in
          | the Cardiac ICU.   It was there she saw firsthand the value of prevention
          | and healthy lifestyle to avoid chronic disease.  After obtaining her Nurse
          | Practitioner degree, Rachel worked in a family medicine clinic, gaining
          | valuable experience in treating a wide range of both acute and chronic
          | illnesses.
        p
          | Rachel joined the team at the Integrative Medicine clinic in June of 2014.
          | Her goal is to provide a holistic approach to healthcare that focuses on
          | prevention and looking for the root causes of a patient's health concerns,
          | rather than just treating the symptoms.  Lifestyle modifications such as
          | stress management, regular exercise, nutrient dense diet, and quality sleep
          | are foundational aspects of the Integrative Medicine approach.