extends ../../layout.jade

block content
  .container-fluid.pictureless-page.about
    .row.section-title.center-head
          h1 Take a tour
    .row.section
        .col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10
          h3.section-head A Little History
          .blurb
            | The Integrative Medicine Clinic opened in August 2009 with the vision of combining
            | the best of conventional medicine with the safest and most effective complimentary
            | and alternative medicine all in one clinic in mid-Missouri.  A primary focus of the
            | clinic is to leverage the power of Food as Medicine; we believe health and healing starts with
            | optimal nutrition. We participate in educating our patients and community to improve
            | health outcomes, naturally! Since 2009 we have expanded into our new offices, added
            | a nurse practitioner, a nutrition educator, a conference room, and the Integrative Medicine
            | Shoppe. All to better serve and educate our patients and the community.
    .row
      img.bg-img.center-block(src="img/clinic-front-large.jpg")
    .row.section
        .col-sm-8.col-sm-offset-2.center-t.col-xs-offset-1.col-xs-10
          .col-sm-4.section-lil
            h3.section-head Hours
            p Monday-Friday
            p 7:30am-4pm
          .col-sm-4.section-lil.spacer
            h3.section-head Location
            p 999 Diamond Ridge Suite 201
            p Jefferson City, MO 65109
            p: a(href="https://goo.gl/maps/6lP2I") Find on map
          .col-sm-4.section-lil.spacer
            h3.section-head Contact
            p (573) 632-5585
            p hello@drchrislink.com
    .row
      img.bg-img.center-block(src="img/clinic-waiting-1-large.jpg")
    .row.section
      .col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10
        h3.section-head Integrative Medicine Shoppe
        p.blurb
          | This specialty shoppe has many of our favorite natural products. Including skin care
          | products, natural cleaning supplies, books, herbal remedies, exercise videos, and essential
          | oils. We also carry some healthy and delicious foods including organic olive oil,
          | organic dark chocolate, wild caught salmon, teas, and an array of flavorful condiments and spices.
    .row
      img.bg-img.center-block(src="img/clinic-shoppe-large.jpg")