extends ../../layout.jade

block content
    .container-fluid.pictureless-page.patient
      .row.section-title.center-head
        .col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10
            h1
              | Health
              | Partnership
      .row.section
        .col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10
            p
              | Integrative Medicine is sometimes referred to as "audience participation
              | medicine" because to benefit fully from Integrative Medicine it is
              | important that you are engaged fully in this healthcare partnership.
            p
              | It is vital to know your health history, daily habits, exercise patterns,
              | food choices, sleep schedule, and stressors to zero in on the root cause
              | of illness and what changes will lead most effectively to optimal health.
            p
              | This information is coupled with both standard laboratory and advanced
              | functional medicine testing to provide a better diagnosis and thus better
              | health outcomes. We look to determine the root cause of your condition,
              | therefore acting to treat the underlying cause rather than simply treating
              | symptoms.
            p
              | There are few quick fixes. Most often it is attention to all of the above
              | areas that produces the best and most rapid results, both in prevention
              | of disease and restoring health.
            p
              | This is not a traditional provider - patient relationship; rather, it is
              | a partnership to improve health, prevent disease and promote optimal
              | health. Together we will create an individualized plan to address your
              | concerns and embark on a collaborative journey to reclaim your health and vitality.
        .col-sm-offset-2.col-sm-8.spacer.col-xs-offset-1.col-xs-10
            h3 New Patient?
            p
              | Please complete this <a href='docs/New-Patient-Packet.doc'>new patient form</a> and bring it with you to your first appointment.
            p Please bring your medications and supplements to your appointment.
