extends ../../layout.jade

block content
    .container-fluid.pictureless-page.cholesterol
        .row.section-title.center-head
          h1 Cholesterol & Heart Disease
        .row.section
          .col-sm-8.col-sm-offset-2.col-xs-offset-1.col-xs-10.spacer
            p In addition to the classic risk factors for heart disease, we utilize advanced
              | cholesterol panels and inflammation markers, and when necessary advanced imaging,
              | to assess each individual's heart disease risk and to optimize their treatment.
            h3 Classic Risk Factors
            ul
              li Family History
              li Elevated Cholesterol
              li Smoking
              li Diabetes
              li Hypertension

          .col-sm-8.col-sm-offset-2.col-xs-offset-1.col-xs-10.spacer
            h3 Advanced Cholesterol & Inflammation Markers
            ul
              li Lipid Particle size and number
              li Inflammation markers - CRP, MPO, Fibrinogen
              li Homocysteine
              li Hemoglobin A-1-C
              li Testosterone

          .col-sm-8.col-sm-offset-2.col-xs-offset-1.col-xs-10.spacer
            h3 Advanced Non-Invasive Imaging
            ul
              li Carotid Intimal Media Thickness
              li Coronary Calcium Scan