extends ../../layout.jade

block content
    .container-fluid.pictureless-page
        .row.section-title.center-head
          h1 Hormone Therapy
        .row.section
          .col-sm-8.col-sm-offset-2