extends ../../layout.jade

block content
    .container-fluid.pictureless-page.laser
        .row.section-title.center-head
          h1 Low-Level laser Therapy
        .row.section
          .col-sm-8.col-sm-offset-2.col-xs-offset-1.col-xs-10
            h3 How it Works
            p
              | LLLT uses specific wavelengths of light and projects
              | them through the skin to acheive healing benefits and pain relief. It is
              | painless! LLLT causes a
              | photochemical response that leads to a cascade of cellular energy
              | changes that enhance healing and decrease pain.
            p
              | There are hundreds of scientific studies on LLLT. Several are
              | ongoing at prestigious institutions like Harvard. The device is
              | FDA approved in the United States. It is also approved in Europe
              | and Canada.
            p
              | The number of treatments required is variable. The faster an
              | injury is treated, the faster it resolves. Typically two or three
              | times weekly is optimal, often achieving considerable
              | improvement in 3-4 weeks.
          .col-sm-3.col-sm-offset-2.col-xs-offset-1.col-xs-10
            img(src="img/laser-treatment-2.jpg")
          .col-sm-5.col-sm-offset-0.col-xs-offset-1.col-xs-10.spacer
            h3 There are 4 common clinical targets for LLLT:
            ol
              li The site of injury to promote healing, remodeling and reduce inflammation
              li Lymph nodes to reduce edema and inflammation in the region
              li Nerve tissue to induce analgesia or pain relief
              li Muscle trigger points to reduce tenderness and relax contracted muscles

            h3 Examples of conditions treated:
            ol
              li Muscular back and neck pain
              li Sciatica
              li Osteoarthritis and sore joints, e.g., wrist, elbow, shoulder, hip, knee, ankle
              li Shingles pain
              li Poor wound healing
              li Neuropathy of hands and feet
