extends ../../layout.jade

block content
    .container-fluid.pictureless-page.int-funk
        .row.section-title.center-head
          h1 Principles of Integrative Medicine:
        .row.section
          .col-sm-6.col-sm-offset-3
            p
              | The National Center for Complementary and Alternative Medicine
              | defines integrative medicine as a combination of mainstream medical
              | therapies and complimentary and alternative medical therapies for which
              | there is some high-quality scientific evidence of safety and effectiveness.
            ul.fa-ul
              li
                i.fa-li.fa.fa-genderless
                | A partnership between the patient and the practitioner in the healing process
              li
                i.fa-li.fa.fa-genderless
                | Appropriate use of conventional and alternative methods to facilitate the body's innate healing response
              li
                i.fa-li.fa.fa-genderless
                | Consideration of all factors that influence health, including mind, body, spirit, and community
              li
                i.fa-li.fa.fa-genderless
                | A philosophy that neither rejects conventional medicine nor accepts alternative therapies uncritically
              li
                i.fa-li.fa.fa-genderless
                | Recognition that good medicine should be based in good science, be inquiry driven, and be open to new paradigms
              li
                i.fa-li.fa.fa-genderless
                | Use of natural, effective, less-invasive interventions whenever possible
        .row.section-title.center-head
          h1 Principles of Functional Medicine:
        .row.section
          .col-sm-6.col-sm-offset-3
            p
              | Functional Medicine is a personalized, systems-oriented model that empowers patients and practitioners to
              | achieve the highest expression of health by working in collaboration to address the underlying causes of disease.
            ul.fa-ul
              li
                i.fa-li.fa.fa-genderless
                | Functional Medicine offers a powerful new model for assessment, treatment, and prevention of chronic disease.
              li
                i.fa-li.fa.fa-genderless
                | Functional Medicine incorporates the latest in genetic science, systems biology, and understanding of how environmental and lifestyle factors influence health and disease.
              li
                i.fa-li.fa.fa-genderless
                | Functional Medicine enables predictive, personalized medicine and empowers patients to take an active role in their own health.
