extends ../../layout.jade

block content
    .container-fluid.pictureless-page.nutrition
      .row.section-title.center-head
        h1 Food as Medicine
      .row.section
        .col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10
          h3.section-head Foods to Eat Often
          .blurb
            | Eating well enhances ones innate healing capacity.
            | A nutrient dense
            | whole food diet has the power to prevent and treat a myriad of illnesses
            | from autoimmune disease, asthma, and eczema to cancer, diabetes, heart
            | disease, and stroke. Using food as medicine it is quite possible to
            | reduce ones dependence on medications. (Hover over images for more information.)
      .section-food.section
        .food-block
          .food-img#veggies
          .food-text Colorful vegetables of all kinds, organic whenever possible
          .photo-cred: a(href='https://www.flickr.com/photos/matupplevelser/4643773329/'): i.fa.fa-circle
        .food-block
          .food-img#leafy
          .food-text Green leafy vegetables: collards, spinach and kale
          .photo-cred: a(href='https://www.flickr.com/photos/24415055@N00/8539007621/'): i.fa.fa-circle
        .food-block
          .food-img#beans
          .food-text Beans and legumes: lentils, pinto beans, black beans, etc.
          .photo-cred: a(href='https://www.flickr.com/photos/pawel_pacholec/17820276439/'): i.fa.fa-circle
        .food-block
          .food-img#berries
          .food-text Berries: blueberries, strawberries, and raspberries
          .photo-cred: a(href='https://www.flickr.com/photos/vauvau/5771659409/'): i.fa.fa-circle
        .food-block
          .food-img#meats
          .food-text Meats: naturally raised beef, pork, lamb, bison, venison
          .photo-cred: a(href='https://www.flickr.com/photos/avlxyz/5095924981'): i.fa.fa-circle
        .food-block
          .food-img#seafood
          .food-text Seafood: salmon, trout, sole, sardines, shellfish, and shrimp
          .photo-cred: a(href='https://www.flickr.com/photos/andreagp/1122613434/'): i.fa.fa-circle
        .food-block
          .food-img#dairy
          .food-text Whole fat dairy products, fermented yogurts, and kefirs
          .photo-cred: a(href='https://www.flickr.com/photos/nicmcphee/2242480365/'): i.fa.fa-circle
        .food-block
          .food-img#grains
          .food-text Whole grains: quinoa, brown rice, steel-cut oats.
          .photo-cred: a(href='https://www.flickr.com/photos/avlxyz/5074961668/'): i.fa.fa-circle
        .food-block
          .food-img#herbs
          .food-text Herbs: garlic, rosemary, turmeric, Italian herbs, chili, and curry spices
          .photo-cred: a(href='https://www.flickr.com/photos/wordridden/4786464711/'): i.fa.fa-circle
        .food-block
          .food-img#nuts
          .food-text Nuts: almonds, walnut, pecans, macadamia, hazel nuts etc.
          .photo-cred: a(href='https://www.flickr.com/photos/105637782@N04/10331709463/'): i.fa.fa-circle
        .food-block
          .food-img#crucif
          .food-text Cruciferous vegetables: cabbage, broccoli, bok choy, cauliflower, and kale
          .photo-cred: a(href='https://www.flickr.com/photos/37884983@N03/3643886883/'): i.fa.fa-circle
        .food-block
          .food-img#tea
          .food-text Tea: green, black, oolong
          .photo-cred: a(href='https://www.flickr.com/photos/fredjala/2809720821/'): i.fa.fa-circle
        .food-block
          .food-img#cocoa
          .food-text Chocolate and cocoa, at least 75% dark
          .photo-cred: a(href='https://www.flickr.com/photos/evert-jan/4859216391/'): i.fa.fa-circle
        .food-block
          .food-img#evoo
          .food-text Extra virgin olive oil

