extends ../../layout.jade

block content
    .container-fluid.pictureless-page.services
        .row.section-title.center-head
          h1 Services & Treatments
        .row.section
          .col-sm-6.col-sm-offset-2.col-xs-offset-1.col-xs-10
            h3 General  Services
            p <b>Primary Care</b> with an emphasis on wellness and preventative medicine.
            p Annual <b>physicals</b> and <b>Well-Woman</b> exams
            p
              | <b>Urgent Visits</b> - same day appointments are often available for urgent needs during regular business hours.
              | For afterhour medical needs please use your local urgent care or emergency department.
            br
          .col-sm-8.col-sm-offset-2.col-xs-offset-1.col-xs-10
            h3 Other Services
            .row
              .col-sm-8
                a(href="acupuncture.html")
                  h4 Acupuncture
                p
                  | Medical acupuncture is a system which can influence the promotion of health
                  | and well-being, prevention of illness, and treatment of various medical conditions.
              .col-sm-8
                a(href="cupping.html")
                  h4 Cupping
                p
                  | A Chinese medicine therapy in which  cups are applied to the skin along the
                  | meridians of the body, creating suction as a way of stimulating the flow of energy.
              .col-sm-8
                a(href="laser.html")
                  h4 Low Level Laser Therapy (LLLT)
                p
                  | LLLT is a form of laser medicine used in medical therapy that
                  | uses low-level (low-power) lasers or light-emitting diodes
                  | to alter cellular function, lessen pain, and speed healing.
              .col-sm-8
                a(href="testing.html")
                  h4 Advanced Functional Medicine Testing
                p
                  | Advanced functional medicine testing goes beyond standard
                  | laboratory testing. These tests offer a more detailed look at an individuals
                  | unique biological characteristics, nutritional needs, inflammatory and
                  | oxidative stress, and genetics.
              .col-sm-8
                a(href="cholesterol.html")
                  h4 Cholesterol & Heart Disease
                p
                  | We utilize advanced
                  | cholesterol panels and inflammation markers, and when necessary advanced imaging,
                  | to assess each individual's heart disease risk and to optimize their treatment.
