extends ../../layout.jade

block content
    .container-fluid.pictureless-page.testing
        .row.section-title.center-head
          h1 Functional Medicine Testing
        .row.section
          .col-sm-8.col-sm-offset-2.col-xs-offset-1.col-xs-10
            p
              | Advanced functional medicine testing goes beyond standard
              | laboratory testing. These tests offer a more detailed look at an individuals
              | unique biological characteristics, nutritional needs, inflammatory and
              | oxidative stress, and genetics. This "closer look" provides the
              | foundation for a personalized approach for nutrition, lifestyle, and
              | supplements needed to best improve health and prevent disease.
            h3.spacer Advanced tests offered:
            ul.fa-ul
              li
                i.fa.fa-li.fa-genderless
                | Food sensitivities
              li
                i.fa.fa-li.fa-genderless
                | Nutritional assessment of vitamins, minerals, aminoacids, and dietary fats
              li
                i.fa.fa-li.fa-genderless
                | Stool analysis of digestion, GI bacteria, yeast and parasites
              li
                i.fa.fa-li.fa-genderless
                | Small Intestinal Bacterial Overgrowth - SIBO breath test
              li
                i.fa.fa-li.fa-genderless
                | Hormone evaluation for men and women
              li
                i.fa.fa-li.fa-genderless
                | Adrenal Stress Index
              li
                i.fa.fa-li.fa-genderless
                | Heavy metal analysis
              li
                i.fa.fa-li.fa-genderless
                | Advanced cholesterol risk assessment
              li
                i.fa.fa-li.fa-genderless
                | Autoimmune evaluation
              li
                i.fa.fa-li.fa-genderless
                | Complete thyroid profile
              li
                i.fa.fa-li.fa-genderless
                | Inflammatory and oxidative stress markers
              li
                i.fa.fa-li.fa-genderless
                | Telomere length
