extends ../../layout.jade

block content
    .container-fluid.pictureless-page.articles
        .row.section-title.center-head
          h1 Read the Latest
        .row.section
          .col-sm-10.col-sm-offset-1.centerize
            .col-sm-4.art
                h3: a.article-toggle(data-toggle='modal', data-target='#sugah') Sugar and Diabetes
                p Straight talk on diabetes and the effects of sugar consumption.
            .col-sm-4.art
                h3: a.article-toggle(data-toggle='modal', data-target='#prevent') Prevention
                p The four keys to optimal health and prevention - where Integrative Medicine shines!
            .col-sm-4.art
                h3: a.article-toggle(data-toggle='modal', data-target='#fat') Dietary Guidelines
                p The updated 2015 USDA Dietary Guidelines: eggs are in and fat is back!
            .col-sm-4.art
                h3: a.article-toggle(data-toggle='modal', data-target='#coq') Congestive Heart Failure
                p A new study finds benefits of co-enzyme Q-10 in the treatment of congestive heart failure.
            .col-sm-4.art
                h3: a.article-toggle(data-toggle='modal', data-target='#gi') GI Health
                p Reflux, the Purple Pill, and Safety.
            .col-sm-4.art
                h3: a.article-toggle(data-toggle='modal', data-target='#eat') Eat Well!
                p Find out more about the healthiest foods on the planet.
            .col-sm-4.art
                h3: a.article-toggle(data-toggle='modal', data-target='#probio') Probiotics and Health
                p Bacteria are our buddies, take care of them and they’ll take care of you!
        .modal.fade(id='sugah')
          .modal-dialog
            button(type="button", class="close", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
            iframe.article-frame(src='docs/DiabetesAndSugar.pdf#zoom=100')
        .modal.fade(id='prevent')
          .modal-dialog
            button(type="button", class="close", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
            iframe.article-frame(src='docs/prevention.pdf#zoom=100')
        .modal.fade(id='fat')
          .modal-dialog
            button(type="button", class="close", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
            iframe.article-frame(src='docs/dietary-guidelines.pdf#zoom=100')
        .modal.fade(id='coq')
          .modal-dialog
            button(type="button", class="close", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
            iframe.article-frame(src='docs/CoQ10-reduces-mortality.pdf#zoom=100')
        .modal.fade(id='gi')
          .modal-dialog
            button(type="button", class="close", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
            iframe.article-frame(src='docs/GIHealth.pdf#zoom=100')
        .modal.fade(id='eat')
          .modal-dialog
            button(type="button", class="close", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
            iframe.article-frame(src='docs/EatWell.pdf#zoom=100')
        .modal.fade(id='probio')
          .modal-dialog
            button(type="button", class="close", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
            iframe.article-frame(src='docs/Probiotics.pdf#zoom=100')
