extends ../../layout.jade

block content
  .container-fluid.pictureless-page.presentation
    .row.section-title.center-head
      h1 Presentations
    .row.section
      .col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10
        p
          | Dr. Link is a highly regarded educator in the area of integrative
          | and functional medicine. He is an avid researcher on the latest health
          | topics. He presents this information in an interesting, enjoyable,
          | and scientifically supported manner.
        p
          | Contact Dr. Link at <a href="mailto:integrativemedicine@crmc.org?subject=Presentation Inquiry">integrativemedicine@crmc.org</a> for inquiries to present
          | Integrative Medicine topics for your organization.
      #events.col-sm-offset-2.col-sm-4.col-xs-offset-1.col-xs-10.spacer
        h3 Upcoming Events
        p: b The Optimum Diet and Nutritional Supplements for Health and Healing
        p Free public health seminar with Dr. Link
        p Jan 5 & Jan 9
        p Register at <a href="http://www.crmc.org/events">here</a> or call <a href="tel:+15736325593">(573) 632-5593</a>
        p: a(href="docs/OptimumDietAd.pdf") Brochure
      .col-sm-offset-0.col-sm-4.col-xs-offset-1.col-xs-10.spacer
        iframe(width="100%", height="220px", src="https://www.youtube.com/embed/IYbDpSho4tg", frameborder="0", allowfullscreen>)
      .col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.spacer
        h3 Recent Speaking Engagements
        p Healthy Review, Capital Region Medical Center's annual Physician CME conference. Yearly since 2007
        p Missouri Primary Care Association 2012, 2013, 2015
        p Missouri Osteopathic Association Annual Meeting, 2014
        p University of Missouri, Annual Update for Advanced Practice Nurses, 2013, 2014

      .col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10.spacer
        h3 Topics from Previous Lectures
        p
          b Overview of Integrative Medicine
          |  - Its Growth and Practice Nationally
        p
          b Food as Medicine
          |  - An Update on Optimal Nutrition
        p
          b Gastrointestinal Health
          |  - Natural Approaches to Improve GI Health
        p
          b Autoimmune Disease
          |  - New Perspectives on Cause, Treatment and Prevention
        p
          b The Human Microbiome
          |  - The Health Implications of Our GI microflora, from Diabetes to Heart Disease
        p
          b Dietary Supplements
          |  - Scientific Basis for Nutritional Supplements
        p
          b Natural Approaches to Optimize Heart Health
        p
          b Detoxification
          |  - How, Why, and When to Detoxify
        p
          b Women's Health
          |  - Nutrition, Nutraceuticals, Exercise, and Bio-Identical Hormones.
        p
          b Men's Health
          |  - Improving Vitality.
        p
          b Low-T, An Integrative Approach
          |  - Nutrition, Nutraceuticals, Exercise, and Optimal Hormone Replacement.