extends ../../layout.jade

block content
  .container-fluid.pictureless-page.radio
    .row.section-title.center-head
      h1 On the radio
    .row.section
      .col-sm-offset-2.col-sm-8
        ul.nav.nav-tabs#tabbies
          li(role="presentation"): a(href="#kwos", aria-controls="kwos", aria-expanded="false", role="tab", data-toggle="tab")
            p.big Open Air on KWOS
            p.smallsy KWOS
          li.active(role="presentation"): a(href="#kopn", aria-controls="kopn", role="tab", aria-expanded="true", data-toggle="tab")
           p.big Your Health Matters on KOPN
           p.smallsy KOPN
        .playlist-wrapper
          .tab-content#tab-content
            .tab-pane#kwos(role='tabpanel')
              table.playlist.table.table-hover.playlist(role)
                tbody
                  tr.clickable(data-title="Olive Oil & Health Benefits", data-src="http://kwos.com/wp-content/uploads/2016/06/Chris-Link-062116.mp3?_=1")
                    td Olive Oil & Health Benefits
                    td 14:53
                    td
                  tr.clickable(data-title='"Purple Pill" & Antibiotics', data-src="http://kwos.com/wp-content/uploads/2016/05/Chris-Link-051716.mp3?_=1")
                    td "Purple Pill" & Antibiotics
                    td 17:04
                    td
                  tr.clickable(data-title="", data-src="https://mgmt.firststreaming.com/av/c60a3e8c24264431a409633aba65bc77.mp3")
                    td Minnesota Coronary Experiment
                    td 14:04
                    td
                  tr.clickable(data-title="Women & Heart Disease", data-src="https://mgmt.firststreaming.com/av/06e6efe88c30364124c4e14f42b58ad6.mp3")
                    td Women & Heart Disease
                    td 14:11
                    td
                  tr.clickable(data-title="Indigestion", data-src="https://mgmt.firststreaming.com/av/eb32bcd6f2e809717fef9ccf78d18881.mp3")
                    td Indigestion
                    td 15:36
                    td
                  tr.clickable(data-title="Sugar and Cookies", data-src='https://mgmt.firststreaming.com/av/65a3951dc8e9ef1c0010bfb63318de47.mp3')
                    td Sugar and Cookies
                    td 16:06
                    td
                  tr.clickable(data-title="Sleep more to end off colds", data-src='https://mgmt.firststreaming.com/av/f24137cd6954b6b9d8e2669f68ff0d4a.mp3')
                    td Sleep more to end off colds
                    td 17:35
                    td
                  tr.clickable(data-title='Blood pressure meds at bedtime!', data-src='https://mgmt.firststreaming.com/av/8f6ccc08beddf31eb1c13c56fc0ee6bc.mp3')
                    td Blood pressure meds at bedtime!
                    td 16:16
                    td
                  tr.clickable(data-title='Paralyzed Man Walks Again', data-src='https://mgmt.firststreaming.com/av/9a4f858e81156ed05718bcd6cc4d431a.mp3')
                    td Paralyzed Man Walks Again!
                    td 14:06
                    td
                  tr.clickable(data-title="Entero virus, flu, e-cigarettes, and 'gut buddies'", data-src='https://mgmt.firststreaming.com/av/df33375da18554b1aefc9fcb9208151c.mp3')
                    td Entero virus, flu, e-cigarettes, and 'gut buddies'
                    td 16:12
                    td
                  tr.clickable(data-title='Salt, ticks, carbs, veggies and...gas?', data-src='https://mgmt.firststreaming.com/av/facf766b0e9eb0ddc7add83aa0c0783b.mp3')
                    td Salt, ticks, carbs, veggies and...gas?
                    td 14:21
                    td
                  tr.clickable(data-title='Food as medicine', data-src='https://mgmt.firststreaming.com/av/ddf57858051e98609589c9b1bafb7362.mp3')
                    td Food as medicine
                    td 14:17
                    td
                  tr.clickable(data-title="Let's talk Vitamin D, prostate cancer, protein and more", data-src='http://mgmt.firststreaming.com/av/0674bf6687dde52e983a7da47f219dd7.mp3')
                    td Let's talk Vitamin D, prostate cancer, protein and more
                    td 14:18
                    td
                  tr.clickable(data-title="Oiling up the Ticker", data-src='http://mgmt.firststreaming.com/av/19e4c5e192a7cf230b002514b03754d4.mp3')
                    td Oiling up the Ticker
                    td 14:52
                    td
                  tr.clickable(data-title="Vitamins, Vaccines, and Avocados", data-src='http://mgmt.firststreaming.com/av/ad702c60ef70fcbcd0eefbd71c18620a.mp3')
                    td Vitamins, Vaccines, and Avocados
                    td 13:45
                    td
                  tr.clickable(data-title="Nuts to You!", data-src='http://mgmt.firststreaming.com/av/4b8a33d359483cc20570e0d46198594a.mp3')
                    td Nuts to You!
                    td 15:34
                    td
                  tr.clickable(data-title="New Findings on Cholesterol, Cooking Oils, Heart Health", data-src='http://mgmt.firststreaming.com/av/e7872151bc1dcb4d7dee57ff895b78cd.mp3')
                    td New Findings on Cholesterol, Cooking Oils, Heart Health
                    td 14:24
                    td
                  tr.clickable(data-title="Back to School - the healthy way!", data-src='http://mgmt.firststreaming.com/av/e7b5da6a9cd523436001f7a59bf63414.mp3')
                    td Back to School - the healthy way!
                    td 15:07
                    td
                  tr.clickable(data-title="Understanding Omega 3s and Prostate Health", data-src='http://mgmt.firststreaming.com/av/daae79915a17b6b35fae8bb29ac6d161.mp3')
                    td Understanding Omega 3s and Prostate Health
                    td 14:41
                    td
                  tr.clickable(data-title="Summertime Blues? Not Necessarily!", data-src='http://mgmt.firststreaming.com/av/13b5d191a4250c8deb9e284d4363ebe9.mp3')
                    td Summertime Blues? Not Necessarily!
                    td 15:40
                    td
                  tr.clickable(data-title="", data-src='http://mgmt.firststreaming.com/av/7a87ecfc8e181c01f013bcc85575ac85.mp3')
                    td Your Protection Against Flu Season
                    td 13:05
                    td
                  tr.clickable(data-title="Managing your Health During the Holidays", data-src='http://mgmt.firststreaming.com/av/8db5fbaa0fc8a323584123f8347fbde1.mp3')
                    td Managing your Health During the Holidays
                    td 12:57
                    td
                  tr.clickable(data-title="Pain Prevention and Pain Relievers", data-src='http://mgmt.firststreaming.com/av/b73025812136a935338816ed7ea797e2.mp3')
                    td Pain Prevention and Pain Relievers
                    td 15:31
                    td
                  tr.clickable(data-title="Hypertension, Wheat Sensitivity, and Diabetes Prevention", data-src='http://mgmt.firststreaming.com/av/f01cdb141df91e07f3761b258f76d15e.mp3')
                    td Hypertension, Wheat Sensitivity, and Diabetes Prevention
                    td 15:33
                    td
            .tab-pane.active#kopn(role='tabpanel')
              table.playlist.table.table-hover.playlist
                tbody
                  tr.clickable(data-title="The Best Ideas For Great Health In 2016", data-src='http://kopn.org/dc/yh/2016-01-20%20Your%20Health%20Matters.mp3', data-date='1/20/16')
                    td The Best Ideas For Great Health In 2016
                    td 58:03
                    td 1/20/16
                  tr.clickable(data-title="Check Your 'Gut Health'", data-src='http://kopn.org/dc/yh/08-21-13%20Your%20Health%20Matters.mp3', data-date='8/21/13')
                    td Check Your 'Gut Health'
                    td 55:47
                    td 8/21/13
                  tr.clickable(data-title="A Holistic Approach for Women", data-src='http://kopn.org/dc/yh/01-06-10%20Your%20Health%20Matters.mp3', data-date='1/6/10')
                    td A Holistic Approach for Women
                    td 55:08
                    td 1/6/10
                  tr.clickable(data-title="Integrating Health Care", data-src='http://kopn.org/dc/yh/08-12-09%20Your%20Health%20Matters.mp3', data-date='8/12/09')
                    td Integrating Health Care
                    td 54:44
                    td 8/12/09
      .col-sm-offset-2.col-sm-8
        audio#audio(src='http://kopn.org/dc/yh/2016-01-20%20Your%20Health%20Matters.mp3', controls='')
