extends ./layout.jade

block content
  .index
    include ./carousel.jade
    .container-fluid
      .row.section
        .col-sm-4.col-sm-offset-2.push-over.col-xs-10.col-xs-offset-1
          h3 New to the Clinic?
          p Learn what your role is in our health partnership, and find new patient documents.
          a.btn.btn-default(href="new_patient.html") Learn More
        .col-sm-4.col-sm-offset-0.push-over-r.col-xs-10.col-xs-offset-1
          h3 New to Acupuncture?
          p Check out our FAQ page to learn more about this ancient healing tradition.
          a.btn.btn-default(href="acupuncture.html") Learn More
      .row.section.colorme
          .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.section-lil
            .info-sect.pully-right
              h3.section-head Hours
              p Monday-Friday
              p 7:30am-4pm
          .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.section-lil
            h3.section-head Location
            p 999 Diamond Ridge Suite 201
            p Jefferson City, MO 65109
            p: a(href="https://goo.gl/maps/6lP2I") Find on map
          .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.section-lil
            .info-sect.pully-left
              h3.section-head Contact
              p
                a(href="tel:+15736325585"): i.fa.fa-phone
                |  (573) 632-5585
              p
                a(href="mailto:integrativemedicine@crmc.org"): i.fa.fa-envelope
                |  integrativemedicine@crmc.org
