extends ./layout.jade

block content
  .index
    .container-fluid
      .row.section.bounty-img
        .bounty-info
          h1 Reducing and Reversing
          h1 Alzheimer's
          p Keynote by Dr. Link
          p: a(href="https://www.comowellnessconference.com") COMO Wellness Conference
          p.lil April 21, 2018
          //p: a(href="tel:+15736325595") Call for an appointment
      .row.section.colorme.marge-sect
          .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.section-lil
            .info-sect.pully-right
              h3.section-head Hours
              p Monday-Friday
              p 7:30am-4pm
          .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.section-lil
            h3.section-head Location
            p 999 Diamond Ridge Suite 201
            p Jefferson City, MO 65109
            p: a(href="https://goo.gl/maps/6lP2I") Find on map
          .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.section-lil
            .info-sect.pully-left
              h3.section-head Contact
              p
                a(href="tel:+15736325585"): i.fa.fa-phone
                |  (573) 632-5585
      .row.section
        .col-sm-5.col-sm-offset-1.push-over.col-xs-10.col-xs-offset-1
          h3 New to the Clinic?
          p Learn what your role is in our health partnership, and find new patient documents.
          a.btn.btn-default(style="font-size: 16px; font-weight: bold;", href="new_patient.html") Docs
        .col-sm-5.col-sm-offset-0.push-over-r.col-xs-10.col-xs-offset-1
          h3 New to Acupuncture?
          p Check out our FAQ page to learn more about this ancient healing tradition.
          a.btn.btn-default(style="font-size: 16px;", href="acupuncture.html") FAQs
      //- .row.section
        iframe(width="320",  height="240", src="https://www.youtube-nocookie.com/embed/6qlEbEOk2Nw?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)
      //- .row.section
        audio#audio(src='http://kwos.com/wp-content/uploads/2016/06/Chris-Link-062116.mp3?_=1', controls='controls')
      //- .row.section
        .col-xs-10.col-xs-offset-1.carousel-info-box
          h1.cbox-head Need Supplements?
          p Call in to order a supplement refill
          p or check out the Integrative Medicine Shoppe.
          a.btn.btn-default.cbox-btn(href="tel:+15736325585") Call now
