extends ./layout.jade

block content
  .container.pictureless-page
    .section-index
      .col-sm-offset-2.col-sm-8
        h2 What is Integrative Medicine?
        p
          | Integrative medicine combines the best conventional medicine has to offer with the safest and most effective complimentary and alternative treatments available. This combination works to unlock the healing power of the individual for the best possible health. The integrative physician partners with the patient to improve health and well being
        p
          | Integrative Medicine has been effective in treating numerous conditions. Conditions such as:
        ul
          li Chronic pain
          li Fibromyalgia
          li Gastrointestinal problems such as Irritable or Inflammatory Bowel
          li Cardiovascular disease
          li Hypertension
          li Recurrent Infections
          li Sinus Problems
          li Allergies
          li Sleep Disturbances and Insomnia
          li Anxiety and Depression