doctype html
html(lang="en")
  head
    title Integrative Medicine: Natural Healing Alternatives & Medical Acupuncture
    meta(charset="utf-8")
    meta(name='viewport' content="width=device-width", initial-scale=1)
    block favi
      link(rel="icon", href="img/logo_trans.png")

    block styles
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Antic+Slab', type='text/css')
      link(rel="stylesheet" ,href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
      link(rel="stylesheet", href="css/main.min.css")

  body.that-bod
    .logo-section
      img(src="img/logo_text_alt.png")

    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#nav-collapse")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        #nav-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="/") Home
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") About
              ul.dropdown-menu(role="menu")
                li: a(href="drlink.html") Meet M. Chris Link, MD
                li: a(href="jalyn_north.html") Meet Jalyn North, APRN
                li: a(href="rachel_lenon.html") Meet Rachel Lenon, FNP
                li: a(href="tour.html") Take A Tour
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") The Clinic
              ul.dropdown-menu(role="menu")
                li: a(href="medicine.html") Functional / Integrative Medicine
                li: a(href="nutrition.html") Food as Medicine
                li.divider(role='separator')
                li: a.bold(href="services.html") Services & Treatments
                li: a(href="acupuncture.html") Acupuncture
                li: a(href="cupping.html") Cupping
                li: a(href="laser_therapy.html") Low-Level Laser Therapy
                li: a(href="testing.html") Functional Medicine Testing
                li: a(href="cholesterol.html") Cholesteral & Heart Disease
              li: a(href="new_patient.html") For Patients
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") News & Events
              ul.dropdown-menu
                li: a(href="radio.html") On the Radio
                li: a(href="presentations.html") Presentations
                li: a(href="articles.html") Articles
    block content

    block footer
      .footer
        .container-fluid
          .col-xs-4.small
            p.footer-phone
              a(href="tel:+15736325585")
                i.fa.fa-phone
          .col-xs-4.big
            p.footer-phone
              a(href="tel:+15736325585")
                i.fa.fa-phone
                |  (573) 632-5585
            i.fa.fa-copyright.copy
            |  2017 Integrative Medicine
          .col-xs-4.footer-center
            img.foot-img(src="img/logo_foot.png")
          .col-sm-4.col-xs-12
            a(href="http://www.crmc.org/"): img.cap-region(src="img/cap_region.gif")
          .col-xs-12.copy.small
            i.fa.fa-copyright
            |  2017 Integrative Medicine

    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
      script(src='js/main.min.js')