@import "variable";

// site wide styles
// =================================================
.center-head {
  text-align: center;
  background-color: $green;
  h1, h3 {
    color: $contrast_text;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 60px;
  }
  h3 {
    font-size: 19.5px;
  }
}

.fa-genderless {
  color: $green;
}

.antic {
  font-family: 'Antic Slab', serif;
}
.navbar-default {
  background-color: #fff;
  border: none;
  margin-bottom: 0px;
  font-size: 16px;

  .dropdown-menu .bold {
    font-weight: 700;
  }
}

.navbar-brand img {
  width: 247px;
  margin-top: -15px;
}

.logo-section img{
  width: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav {
  float:none;
  margin: 0px auto;
  display: table;
  table-layout: fixed;
}


.spacer {
  padding-top: 20px;
}

.section {
  padding-bottom: 40px;
  padding-top: 40px;
}

.section-title {
  padding-bottom: 20px;
  padding-top: 20px;
}

.colorme {
  background: $grey_lt;
}

.float-pic {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0px;
  color: $grey_dk;
}

ul.bare-list {
  list-style: none;
}

.btn-default {
  color: $contrast_text;
  background-color: $blue;
  border-color: $blue_dk;
  border-width: 2px;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
  color: $blue_dk;
  border-color: $blue_dk;
  background-color: $contrast_text;
}

.btn-default.active,
.btn-default:active,
.btn-default:hover,
.btn-default.hover,
.btn-default.focus,
.btn-default:focus {
  color: $blue;
  border-color: $blue;
  background-color: $contrast_text;
}

.pictureless-page {
  border-top: 1px solid $grey_md;
}

.center-t {
  text-align: center;
}
.footer {
  p {
    margin: 0px;
  }
  .footer-mail {
    padding-bottom: 16px;
  }

  .small {
    display: none;
  }

  .big a {
    font-size: 16px;
  }

  .cap-region {
    border-right: 1px solid #000;
    float: right;
    padding-left: 10px;
  }
}

.footer > .container-fluid {
  border-top: 1px solid $grey_md;
  padding: 20px;
}

.footer-center {
  text-align: center;
}

.foot-img {
  height: 40px;
  margin-top: 20px;
}


// page styles
// ================================================
// index
// =============================================
.index {
  .pully-left {
    float: left;
  }
  .pully-right {
    float: right;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .info-sect {
    width: 210px;
  }
  .section-lil {
    text-align: center;
    h3 {
      font-size: 28px;
    }
    p {
      margin: 0px;
    }
  }
  .push-over {
    padding-right: 60px;
  }

  .push-over-r {
    padding-left: 60px;
  }

  .slide {
    max-height: 480px;

    img {
      width: 100%;
    }
  }

  .carousel-caption {
    top: 50px;
    .cbox-btn {
      font-size: 24px;
      border-width: 4px;
      margin-top: 20px;
    }
  }

  .carousel-control {
    width: 10%;
  }

  .carousel-info-box {
    background: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;

    p {
      font-size: 24px;
      margin-bottom: 0px;
      text-shadow: 0 1px 2px rgb(167, 167, 167);

      &.lil-fo {
        font-size: 20px;
      }

      &.lil-fo.radio-title{
        margin-bottom: 16px;
      }

    }
    .cbox-head {
      color: $blue_dk;
      font-weight: bold;
      text-shadow: none;
    }

    &#fleur {
      background: rgba(255,255,255,0.36);
    }
  }



  .blob {
    display: block;
    margin: auto;
    margin-top: 10%;
  }

  .info-blob {
    position: relative;
    display: inline-block;
    width: 33vw;
    height: 33vw;
    background: rgba(56, 116, 176, 0.55);
    color: $contrast_text;
    border: 6px solid rgba(255, 255, 255, 0.55);
    border-radius: 100%;

    .blob-title {
      margin: 0px;
      position: relative;
      text-align: center;
      color: $contrast_text;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .blob-info {
      margin: 0px;
      position: relative;
      color: $contrast_text;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .blob-info-sm {
      margin: 0px;
      position: relative;
      color: $contrast_text;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .blob-glyph {
      color: $contrast_text;
      &:hover {
        color: #ccc;
      }
      &:focus:active, &:focus, &:active {
        color: #aaa;
      }
    }
  }

  #audio {
    width: 300px;
  }
}

// nutrition
// =============================================
.nutrition {
  .section-head {
    text-align: center;
    font-size: 34px;
    color: $green;
    margin: 0px;
    padding-bottom: 10px;
  }

  .blurb {
    text-align: justify;
    font-size: 17px;
  }
  .food-block {
      display: inline-block;
      position: relative;

    .food-img {
      width: 200px;
      height: 200px;
      margin: 10px;
      position: relative;
    }

    &:hover {
      .food-text {
        display: block;
        position: absolute;
        width: 200px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 20px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 10px;
        right: 10px;
      }
      .photo-cred {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 17px;
        color: #fff;

        a {
          color: #fff;
          &:hover {
            color: $green;
          }
        }
      }
    }

    .food-text, .photo-cred {
      display: none;
    }

  }

  .section-food {
    text-align: center;
    padding-top: 0px;
    #veggies {
      background: url("../img/veggies-min.jpg") no-repeat center center/cover;
    }

    #leafy {
      background: url("../img/cruciferous-min.jpg") no-repeat center center/cover;
    }

    #beans {
      background: url("../img/legumes-min.jpg") no-repeat center center/cover;
    }

    #berries {
      background: url("../img/berries-min.jpg") no-repeat center center/cover;
    }

    #meats {
      background: url("../img/meat-min.jpg") no-repeat center center/cover;
    }

    #seafood {
      background: url("../img/slamin-min.jpg") no-repeat center center/cover;
    }

    #dairy {
      background: url("../img/dairy-min.jpg") no-repeat center center/cover;
    }

    #grains {
      background: url("../img/grains-min.jpg") no-repeat center center/cover;
    }

    #herbs {
      background: url("../img/herbs-min.jpg") no-repeat center center/cover;
    }

    #nuts {
      background: url("../img/nuts-min.jpg") no-repeat center center/cover;
    }

    #crucif {
      background: url("../img/brok-min.jpg") no-repeat center center/cover;
    }

    #tea {
      background: url("../img/tea-min.jpg") no-repeat center center/cover;
    }

    #cocoa {
      background: url("../img/cocoa-min.jpg") no-repeat center center/cover;
    }

    #evoo {
      background: url("../img/evoo-min.jpg") no-repeat center center/cover;
    }
  }
}

// acupuncture
// =============================================
.acupuncture {
  p {
    text-align: justify;
  }
  .links {
    margin-left: -35px;
  }
  .section-head {
    font-size: 34px;
    color: $green;
    margin: 0;
    padding-bottom: 10px;
  }
  h3 {
    color: $green;
    padding-top: 20px;
  }
}

// cupping
// =============================================
.cupping {
  p {
    text-align: justify;
  }
  img {
    height: 180px;
    width: auto;
  }
}

// articles
// =============================================
.articles {
  .article-frame {
    width: 100%;
    height: 100%;
  }
  .modal-dialog {
    width: 92%;
    margin: 4%;
    height: 84%;
  }
  .close {
    top: -3px;
    left: 9px;
    font-size: 40px;
    position: absolute;
  }
  .dwnld {
    padding-left: 15px;
    font-size: 20px;
  }
  .art {
    padding-bottom: 20px;
  }
}

#sticky-foot {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

// about
// =============================================
.about {
  .spacer {
    padding-top: 0px;
  }
  .bg-img {
    width: 100%;
    height: auto;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-head {
    text-align: center;
    font-size: 34px;
    color: $green;
    margin: 0;
    padding-bottom: 10px;
  }

  .blurb {
    text-align: justify;
    font-size: 17px;
  }

  .section-lil {
    h3 {
      font-size: 28px;
    }
    p {
      margin: 0px;
    }
  }
}

// integrative / functional medicine
// =============================================
.int-funk {
  p {
    text-align: justify;
  }
  .side-pic-crop {
    width: 410px;
    height: 350px;
    overflow: hidden;
    margin-top: -20px;
    margin-bottom: -20px;
  }
  .side-pic {
    margin-left: -15px;
    margin-top: -106px;
    width: 424px;
  }
  .section-head {
    font-size: 34px;
    color: $green;
    margin: 0px;
    padding-bottom: 10px;
  }
}

// cholesterol
// =============================================
.cholesterol {
  h3 {
    color: $green;
  }
}

// testing
// =============================================
.testing {
  h3 {
    color: $green;
  }
  p {
    text-align: justify;
  }
}

// services
// =============================================
.services {
    h3, h4 {
    color: $green;
  }
  h4:hover {
    color: $green_dk;
  }
}

// laser
// =============================================
.laser {
  h3 {
    color: $green;
    padding-top: 20px;
  }
  h3:first-child {
    padding-top: 0px;
  }

  img {
    width: 100%;
    margin-top: 64px;
  }
}

// patient
// =============================================
.patient {
  h3 {
    color: $green;
  }
}

// presentation
// =============================================
.presentation {
  h3 {
    color: $green;
  }
}

// radio
// =============================================
.radio {
  .nav-tabs {
    border-bottom: none;
    margin-left: 10px;

    .smallsy {
      display: none;
    }
    p {
      margin: 0px;
    }
  }

  .nav-tabs > li > a {
    font-size: 18px;
    background-color: $blue;
    color: #fff;
    border-top: 1px solid $blue;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
    &:hover {
      background-color: $blue_md_lt;
    }
  }

  .nav-tabs > li.active > a {
    font-size: 18px;
    color: $blue;
    background-color: #fff;
    border-top: 1px solid $blue;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
  }

  .table {
    cursor: pointer;
  }

  .extra {
    display: none;
  }

  .playlist-wrapper {
    overflow: scroll;
    height: 350px;
    border: 1px solid #ddd;
    padding: 0px;
  }

  .playlist {
    margin: 0px;

    .thead {
      &:hover th, &:active th, th {
        background-color: $blue;
        color: #fff;
      }
    }
  }

  .playlist tr.active {
    td {
      background-color: $blue;
      color: #fff;
    }
    &:hover td {
      background-color: rgba(89, 140, 190, 0.5);
      color: #fff;
    }
  }

  .playlist tr {
    &:hover td {
      background-color: rgba(89, 140, 190, 0.5);
      color: #fff;
    }
  }

  #show-title {
    margin-left: -15px;
  }

  #audio {
    width: 100%;
    margin: 20px 0px;
  }
}

.bio {
  .center-head h1 {
    word-spacing: normal;
  }
  .blurb {
    text-align: center;
    p {
      text-align: justify;
    }
  }
  .float-pic {
      border-radius: 12px;
  }
}

.center-head {
  h1 {
    word-spacing: 10px;
  }
}

@media(max-width: 420px) {
  .index {
    .carousel-caption {
      top: 8px;
      padding-top: 0px;
    }
    .carousel-info-box {
      padding: 10px;

      p {
        text-align: center;
        font-size: 12px;
      }

      p.lil-fo {
        font-size: 11px;
      }
      .cbox-btn {
        font-size: 12px;
      }
    }
    h1.cbox-head {
      font-size: 15px;
    }
  }
}
@media(min-width:421px) and (max-width: 767px) {
  .index {
    .carousel-caption {
      top: 12px;
    }

    .carousel-info-box {
      h1.cbox-head {
        font-size: 18px;
      }

      p {
        text-align: center;
        font-size: 14px;
      }

      p.lil-fo {
        font-size: 12px;
      }
      .cbox-btn {
        font-size: 14px;
      }
    }
  }
}
@media(max-width:767px) {

  .logo-section {
    img {
      width: 280px;
    }
  }

  .footer {
    font-size: 15px;
    text-align: center;
    .small {
      display: inline-block;
    }
    .big {
      display: none;
    }
    .copy, .footer-phone {
      text-align: left;
    }
    .footer-mail {
      text-align: right;
    }
    .fa-phone, .fa-envelope {
      line-height: 40px;
      font-size: 24px;
    }
    .foot-img {
      margin:0px;
    }
    .cap-region {
      float: none;
      margin-bottom: 20px;
      padding: 0px;
    }
  }
  .index {
    .info-sect {
      width: auto;
      &:first-child {
        padding-bottom: 20px;
      }
      &:last-child {
        padding-top: 20px;
      }
    }
    .push-over, .push-over-r {
      padding-left: 0px;
      padding-right: 0px;
    }

    .push-over {
      padding-bottom: 30px;
    }
    #audio {
      width: 200px;
    }

    .pully-right, .pully-left {
      float: none;
    }
  }
  .about {
    .bg-img {
      //width: 380px;
    }
    .spacer {
      padding-top: 30px;
    }
  }

  .radio {
    .nav-tabs .smallsy {
      display: inline-block;
    }
    .nav-tabs .big {
      display: none;
    }
  }

  .center-head {
    h1 {
      font-size: 46px;
    }
  }

  .bio {
    .float-pic{
      float: none;
    }
  }

  .services {
    p {
      text-align: justify;
    }
  }
  .cupping {
    img {
      float: none;
      margin-left: -135px;
      padding-left: 50%;
    }
  }
  .laser {
    img {
      margin-top: 20px;
    }
  }
  .patient {
    p {
      text-align: justify;
    }
  }
}

@media(min-width:768px) and (max-width: 879px){
  .index {
    #audio {
      width: 240px;
    }
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .footer {
    .big a {
      font-size: 14px;
    }
  }
  .index {
    .carousel-caption {
      top: 12px;
      //padding-top: 0px;
      left: 16%;
      right: 16%;
    }
    .carousel-info-box {
      padding: 14px;

      p {
        text-align: center;
        font-size: 22px;
      }

      /*p.lil-fo {
        font-size: 11px;
      }*/
      .cbox-btn {
        font-size: 18px;
      }
    }
    h1.cbox-head {
      font-size: 30px;
    }
  }
}
@media(min-width:880px) {

}
@media(min-width:992px) {

}
@media(min-width:1200px) {

}


@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .food-block {
      width: 200px;
      margin: 5px;
      display: inline-block;
      position: relative;
      .food-img {
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0px;
      }

      .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;
      }
      &:hover {
        .food-text {
        display: block;
        position: absolute;
        width: 100px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;
      }
    }
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
.nutrition {
    .food-block {
      width: 200px;
      margin: 5px;
      display: inline-block;
      position: relative;
      .food-img {
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0px;
      }

      .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;
      }
      &:hover {
        .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;        }
      }
    }
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
.nutrition {
    .food-block {
      width: 200px;
      margin: 5px;
      display: inline-block;
      position: relative;
      .food-img {
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0px;
      }

      .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;
      }
      &:hover {
        .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;        }
      }
    }
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
.nutrition {
    .food-block {
      width: 200px;
      margin: 5px;
      display: inline-block;
      position: relative;
      .food-img {
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0px;
      }

      .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;
      }
      &:hover {
        .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;        }
      }
    }
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
.nutrition {
    .food-block {
      width: 200px;
      margin: 5px;
      display: inline-block;
      position: relative;
      .food-img {
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0px;
      }

      .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;
      }
      &:hover {
        .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;        }
      }
    }
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
.nutrition {
    .food-block {
      width: 200px;
      margin: 5px;
      display: inline-block;
      position: relative;
      .food-img {
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0px;
      }

      .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;
      }
      &:hover {
        .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;        }
      }
    }
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
.nutrition {
    .food-block {
      width: 200px;
      margin: 5px;
      display: inline-block;
      position: relative;
      .food-img {
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0px;
      }

      .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;
      }

      &:hover {
        .food-text {
        display: block;
        position: absolute;
        width: 120px;
        height: 200px;
        text-align: left;
        color: #fff;
        font-size: 16px;
        background-color: rgba(85, 85, 85, 0.85);
        padding: 10px;
        top: 0px;
        right: 0px;
        }
      }
    }
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}